.image-footer {
    background-color: var(--icons-color);
    mask: url(assets/images/ska_footer.svg) no-repeat center / contain;
    -webkit-mask: url(assets/icons/ska_footer.svg) no-repeat center / contain;
}