<h2>Selecionar ordem de produção </h2>

<div class="list-options">
  <div *ngFor="let order of stopTypes" class="options" [class.selected]="order.key === selectedStopType?.key" (click)="setSelectedOrder(order)">
    <div [class]="order.icon"></div>
    <div class="options-description">
      <div class="order-label">{{ order.label }}</div>
      <div class="order-description">{{ order.description }}</div>
    </div>
  </div>
</div>

<div class="footer">
  <button mat-button class="button-ok" (click)="closeDialog()">OK</button>
</div>