<h2>Selecionar ordem de produção </h2>

<div class="list-options">
  <div *ngFor="let order of stopTypes" class="options" [class.selected]="order.key === selectedStopType?.key" (click)="setSelectedOrder(order)">
    <i [class]="order.icon"></i>
    <div class="options-description">
      <span class="order-label">{{ order.label }}</span>
      <span class="order-description">{{ order.description }}</span>
    </div>
  </div>
</div>

<div class="footer">
  <button mat-button (click)="closeDialog()">OK</button>
</div>